<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control_plugin">
        <gazebo>
            <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
                <ros>
                    <!-- 使用默认命名空间 -->
                    <namespace>/</namespace>   
                    <!-- 对话题的相关映射  -->
                    <remapping>cmd_vel:=cmd_vel</remapping>
                    <!-- 里程计的话题名字映射 -->
                    <remapping>odom:=odom</remapping>
                </ros>
                <!-- 发布频率 -->
                <update_rate>30</update_rate>
                <!-- wheels -->
                 <!-- 控制的轮子joint_name -->
                <left_joint>left_base_link_joint</left_joint>
                <right_joint>right_base_link_joint</right_joint>
                <!-- kinematics -->
                <wheel_separation>0.2</wheel_separation>
                <wheel_diameter>0.064</wheel_diameter>
                <!-- limits -->
                <max_wheel_torque>20</max_wheel_torque>
                <max_wheel_acceleration>1.0</max_wheel_acceleration>
                <!-- output -->
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>

                <!-- odom相当于父坐标系 -->
                <odometry_frame>odom</odometry_frame>
                <!-- 这个相当于子坐标系 -->
                <robot_base_frame>base_foot_print</robot_base_frame>
            </plugin>
        </gazebo>
   </xacro:macro>
</robot>