<?xml version="1.0"?>
<robot name="first_robot">
    <!-- 机器人的身体部分 -->
     <link name="base_link">
        <!-- 外观描述 -->
        <visual>
            <!-- 这个部件沿着自己几何中心的旋转和偏移 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
                <!-- 圆柱体 -->
                <cylinder radius="0.1" length="0.12"/>
            </geometry>
            <!-- 材质和颜色的描述 -->
             <material name="white">
                <color rgba="1.0 1.0 1.0 0.5"/>
             </material>
        </visual>
     </link>


     <!-- 惯性测量单元传感器 -->
     <link name="imu_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>   
            <geometry>
              <box size="0.02 0.02 0.02"/>  
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
     </link>


     <!-- 关节用于组合部件 -->
     <joint name="imu_base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>
     </joint>
</robot>